h1 {
  font-size: 2em;
  font-weight: bold;
  margin:20px;
  text-align:center;
}


.tileValue, .tileValueDown, .tileValueSelected, .tileValueOver, .tileValueSelectedOver, .tileValueSelectedDown {
    font-size:15px !important;
}

.simpleTile, .simpleTileOver, .simpleTileSelected, .simpleTileSelectedOver {
    font-size:15px !important;
}


.treeCell, .treeCellDark, .treeCellOver, .treeCellOverDark, .treeCellSelected, .treeCellSelectedDark, .treeCellSelectedOver, .treeCellSelectedOverDark, .treeCellDisabled, .treeCellDisabledDark, .treeTallCell, .treeTallCellDark, .treeTallCellOver, .treeTallCellOverDark, .treeTallCellSelected, .treeTallCellSelectedDark, .treeTallCellSelectedOver, .treeTallCellSelectedOverDark, .treeTallCellDisabled, .treeTallCellDisabledDark {
    font-size: 15px !important;;
}


.title
{
	font-size:30px;
	color:darkblue;
}

.dragStyle
{
	min-width:100px;
	height:200px;
}


.menuRight{
	background-color:lightblue;
	
}

.connectPanel
{
	background-color:lightblue;
}



.mainPanel
{
	margin:10px;
	padding:20px;
	border-width:5px;
	border-style:outset;
	border-color:grey;
	border-radius:20px;
}

.errorMessage
{
	color:red;
	font-style:italic
}

.connexionPanel
{
	margin:auto;
	margin-top:150px;
	padding:10px;
	border-width:5px;
	border-style:outset;
	border-color:grey;
	border-radius:20px;
}

.page
{
	
	border-style:inset;
	border-width:1px;
	border-color:grey;
	
	border-radius:20px 20px 0px 0px;
	
	background-color: #f2f2e5;
	
}


.crumb:hover
{
	cursor:pointer;
}
.crumb
{

	font-size:18px;
	color:darkblue;
}

.bloc
{
	margin:20px;
	padding:10px;
	border-width:2px;
	border-style:outset;
	border-color:grey;
	border-radius:20px;
}