h1 {
  font-size: 2em;
  font-weight: bold;
  color: blue;
}

.vp
{
	width:30%;
	height:10%;
	margin:auto;
	padding:10px;
	border-width:1px;
	border-style:solid;
	border-color:black;
}

.main
{

}