h1 {
  font-size: 2em;
  font-weight: bold;
  margin:20px;
  text-align:center;
}


.titleAlbum
{
	font-size:18px;
	margin:10px;
}

.itemChecked:hover
{
	cursor:pointer;
}
.itemUnchecked:hover
{
	cursor:pointer;
}
.itemChecked
{

	margin:2px;
	padding:5px;
	background-color:lightgreen;
	border-radius:15px;
}


.itemUnchecked
{

	margin:2px;
	padding:5px;
	
}




.mainPanel
{
	margin:100px;
	padding:20px;
	border-width:5px;
	border-style:outset;
	border-color:grey;
	border-radius:20px;
}

.errorMessage
{
	color:red;
	font-style:italic
}

.connexionPanel
{
	margin:auto;
	padding:20px;
	padding:10px;
	border-width:5px;
	border-style:outset;
	border-color:grey;
	border-radius:20px;
}

.page
{
	
	border-style:inset;
	border-width:1px;
	border-color:grey;
	
	border-radius:20px 20px 0px 0px;
	
	background-color: #f2f2e5;
	
}

.albumtree
{
	border-width:5px;
	
}
